name: Compairifuel Automatic Environment Secrets Generation
description: This Action is a reusable environment generation workflow that creates dotenv files, based on a base64 encoded input.

on:
  workflow_call:
    inputs:
      env_path:
        description: "Path to the .env file"
        type: string
        required: true
    secrets:
      env_file_b64:
        description: "Base64-encoded full .env content"
        required: true

jobs:
  generate-env:
    name: Generate Environment Variables from Inputs
    runs-on: ubuntu-latest
    steps:
      - name: Validate inputs
        shell: bash
        run: | 
          if [[ -z "${{ secrets.env_file_b64 }}" ]]; then
            echo "At least one base64 secret must be provided"
            exit 1
          fi
      - name: Validate Base64
        shell: bash
        run: | 
          printf "%s" "${{ secrets.env_file_b64 }}" | tr -d '\n' | base64 --decode > /dev/null || exit 1
      - name: Decode environment
        shell: bash
        run: |
          FINAL_ENV="$(mktemp)"

          if [[ -n "${{ secrets.env_file_b64 }}" ]]; then
            printf "%s" "${{ secrets.env_file_b64 }}" | tr -d '\n' | base64 --decode > "$FINAL_ENV"
          fi

          mkdir -p "$(dirname "${{ inputs.env_path }}")"
          cp "$FINAL_ENV" "${{ inputs.env_path }}"
          rm -f "$FINAL_ENV"
        